﻿@section scripts{
    <script type="text/javascript">
        var uri = 'api/Contact';
        $(function () {
            $.getJSON('/api/contact', function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (i, item) {
                    $('#contacts').append('<li>' + item.Name + '</li>');
                });
            });
        });
        $('#saveContact').click(function () {
            $.post("api/contact",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      $('#contacts').append('<li>' + value.Name + '</li>');
                  },
                  "json"
            );
        });

        function find() {
            var id = $('#contactId').val();
            $.getJSON(uri + '/' + id)
                .done(function (data) {
                    $('#contact').text(formatItem(data));           
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#contact').text('Error: ' + err);
                });
        }

        function formatItem(item) {
            return item.Name;

        }
    </script>
}

<div id="search">
    <h2>Search Contact</h2>
    ID <input type="number" id="contactId" />
    <input type="submit" onclick="find()" />
</div>
<div id="contact"></div>

<div id="body">
    <h1>Contacts</h1>
    <ul id="contacts"></ul>
</div>

<form id="saveContactForm" method="post">
    <h3>Create a new Contact</h3>
    <p>
        <label for="contactId">Contact Id:</label>
        <input type="text" name="Id" />
    </p>
    <p>
        <label for="contactName">Contact Name:</label>
        <input type="text" name="Name" />
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>

